body{
    background-color: rgb(209, 219, 219);
}
table{
    padding: 5px;
    background-color: rgb(177, 177, 177);
    text-align: center;
    border-style: solid;
    border-color: black;
    
}
th{
    border-bottom: 2px solid black;
}
td{
    border-style: solid;
    border-width: 2px;
}